<!doctype html>
<html lang="en">
    <head>
        <title>Light-Extension</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="mt-3 text-white text-center">
            <h2 class="text-danger">Working Light Backend!</h2>
        </div>
    </body>
</html>

